@import "tailwindcss";

body {
    background: #000;
    margin:0;
}



@theme {
    --color-light:#FFFFFF;
    --color-dark:#100c08;
}

@font-face {
    font-family: "Kenfolg";
    src: url("/fonts/Kenfolg.otf") format(truetype);
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Variable.ttf") format(truetype);
}

.heading {
    font-family: "Kenfolg", serif;
}

.subheading {
    font-family: "Satoshi", sans-serif;
}

@layer utilities {
    .transform-origin-top {
      transform-origin: top;
    }
    .mix-blend-difference {
        mix-blend-mode: difference;
      }
  }


  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 

  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
  }

  .tag {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: black;
    z-index: 1;
  }

  .tag p {
    text-transform: uppercase;
    font-size: 12px;
  }

  .line {
    transform: translateY(100%);
    will-change: transform;
  }

  #card-1 .service-inner {
    top:calc(2vh + 5em);
  }
  #card-2 .service-inner {
    top:calc(2vh + 11em);
  }
  #card-3 .service-inner {
    top:calc(2vh+ 22em);
  }

.text-stroke {
  -webkit-text-stroke: 2px var(--color-light); /* For Webkit browsers (Chrome, Safari) */
  color: transparent; /* The fill color of the text */
}


  @media (max-width:900px) {
    #card-2 .service-inner {
      top:calc(20vh + 2em);
    }
    #card-3 .service-inner {
      top:calc(20vh + 4em);
    }
  }