@import "tailwindcss";

body {
    background: #000;
    overflow-x: hidden;
    margin:0
}



@theme {
    --color-light:#FFFFFF;
    --color-dark:#1A1A19;
}

@font-face {
    font-family: "IFDurerDisplay";
    src: url("/IFDurerDisplay-Regular.ttf") format(truetype);
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/Satoshi-Variable.ttf") format(truetype);
}

.heading {
    font-family: "IFDurerDisplay", serif;
}

.subheading {
    font-family: "Satoshi", sans-serif;
}

@layer utilities {
    .transform-origin-top {
      transform-origin: top;
    }
    .mix-blend-difference {
        mix-blend-mode: difference;
      }
  }

  